body {
    background-color: black;
}
.timer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin: 100px auto;
    color: blanchedalmond;
}
.display {
    font-size:100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button {
    background-color: green;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
}
.input {
    text-align: center;
    background-color: rgb(171, 223, 175);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}