body {
    background-color: black;
}
.timer {
    margin: 200px auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.body-timer {
    display: flex;
    justify-content: center;
}
.num {
    color: white;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.num:not(:first-of-type)::before {
    content: ":";
}
.button-div {
    margin: 10px auto;
}
.button {
    background-color: green;
    color: white;
    width: auto;
    text-align: center;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
}
.form {
    display: flex;
    justify-content: center;
}
.input {
    text-align: center;
    width: 50%;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;

}

